In [1]:
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine
from getpass import getpass

In [2]:
# Store environmental variables
user = getpass('Enter user')
password = getpass('Enter password')
database = getpass('Enter database')
port = getpass('Enter port')

Enter user········
Enter password········
Enter database········
Enter port········

In [3]:
# Create the engine connection to PostgreSQL in AWS
engine = create_engine('postgresql://'+user+':'+password+'@database-1.cetgij0pjfvj.us-east-1.rds.amazonaws.com:'+port+'/'+
                      database)

In [4]:
# Declare the query
query = """SELECT f.sid,f.id,f.gender,f.customer_type,f.age,f.type_travel,c.class_name,f.flight_distance,
f.departure_delay,f.arrival_delay,f.satisfaction,s.inflight_wifi, s.dep_arriv_time, s.ease_online_booking,
s.gate_location,s.food_drink,s.onlineboard_seat_comfort,s.seat_comfort,s.inflight_entertaint,s.onboard_serv, 
s.leg_room_serv,s.baggage_handling,s.checkin_serv,s.inflight_serv,s.cleanliness 
FROM flights f 
INNER JOIN surveys s ON f.sid = s.sid 
INNER JOIN classes c ON f.class_no = c.class_no 
ORDER BY f.sid"""

In [5]:
# df = pd.read_csv('train.csv')
df = pd.read_sql(query, con=engine, index_col='sid')
df.head()

,id,gender,customer_type,age,type_travel,class_name,flight_distance,departure_delay,arrival_delay,satisfaction,...,food_drink,onlineboard_seat_comfort,seat_comfort,inflight_entertaint,onboard_serv,leg_room_serv,baggage_handling,checkin_serv,inflight_serv,cleanliness
sid,,,,,,,,,,,,,,,,,,,,,
1,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,25,18.0,neutral or dissatisfied,...,5,3,5,5,4,3,4,4,5,5
2,5047,Male,disloyal Customer,25,Business travel,Business,235,1,6.0,neutral or dissatisfied,...,1,3,1,1,1,5,3,1,4,1
3,110028,Female,Loyal Customer,26,Business travel,Business,1142,0,0.0,satisfied,...,5,5,5,5,4,3,4,4,4,5
4,24026,Female,Loyal Customer,25,Business travel,Business,562,11,9.0,neutral or dissatisfied,...,2,2,2,2,2,5,3,1,4,2
5,119299,Male,Loyal Customer,61,Business travel,Business,214,0,0.0,satisfied,...,4,5,5,3,3,4,4,3,3,3

In [6]:
df_encoded = pd.get_dummies(df, columns=["class_name", "satisfaction"])
df_encoded.head()

,id,gender,customer_type,age,type_travel,flight_distance,departure_delay,arrival_delay,inflight_wifi,dep_arriv_time,...,leg_room_serv,baggage_handling,checkin_serv,inflight_serv,cleanliness,class_name_Business,class_name_Eco,class_name_Eco Plus,satisfaction_neutral or dissatisfied,satisfaction_satisfied
sid,,,,,,,,,,,,,,,,,,,,,
1,70172,Male,Loyal Customer,13,Personal Travel,460,25,18.0,3,4,...,3,4,4,5,5,0,0,1,1,0
2,5047,Male,disloyal Customer,25,Business travel,235,1,6.0,3,2,...,5,3,1,4,1,1,0,0,1,0
3,110028,Female,Loyal Customer,26,Business travel,1142,0,0.0,2,2,...,3,4,4,4,5,1,0,0,0,1
4,24026,Female,Loyal Customer,25,Business travel,562,11,9.0,2,5,...,5,3,1,4,2,1,0,0,1,0
5,119299,Male,Loyal Customer,61,Business travel,214,0,0.0,3,3,...,4,4,3,3,3,1,0,0,0,1

In [ ]:
# Write df_encoded DataFrame to a table in PostgreSQL
df_eco.to_sql('flights_encoded', con=engine, if_exists='replace')