In [1]:
# Initial imports
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine

## Retrieve dataset from RDS AWS

In [2]:
# Store environmental variables
from getpass import getpass

user = getpass('Enter user')
password = getpass('Enter password')
database = getpass('Enter database')
port = getpass('Enter port')

Enter user········
Enter password········
Enter database········
Enter port········

In [3]:
# Create the engine connection to PostgreSQL in AWS
engine = create_engine('postgresql://'+user+':'+password+'@database-1.cetgij0pjfvj.us-east-1.rds.amazonaws.com:'+port+'/'+
                      database)

In [4]:
# Declare the SQL query
query_flights_surveys = """SELECT f.sid,f.id,f.gender,f.customer_type,f.age,f.type_travel,c.class_no,f.flight_distance,
f.departure_delay,f.arrival_delay,f.satisfaction,s.inflight_wifi, s.dep_arriv_time,s.ease_online_booking,
s.gate_location,s.food_drink,s.onlineboard_seat_comfort,s.seat_comfort,s.inflight_entertaint,s.onboard_serv, 
s.leg_room_serv,s.baggage_handling,s.checkin_serv,s.inflight_serv,s.cleanliness 
FROM flights f 
INNER JOIN surveys s ON f.sid = s.sid 
INNER JOIN classes c ON f.class_no = c.class_no 
ORDER BY f.sid"""

query_flights = "SELECT * FROM flights ORDER BY sid"

In [53]:
# Retrieve flights rows from PostgreSQL
df = pd.read_sql(query_flights, con=engine, index_col='sid')
df.head()

,id,gender,customer_type,age,type_travel,class_no,flight_distance,departure_delay,arrival_delay,satisfaction
sid,,,,,,,,,,
1,70172,Male,Loyal Customer,13,Personal Travel,3,460,25,18,neutral or dissatisfied
2,5047,Male,disloyal Customer,25,Business travel,1,235,1,6,neutral or dissatisfied
3,110028,Female,Loyal Customer,26,Business travel,1,1142,0,0,satisfied
4,24026,Female,Loyal Customer,25,Business travel,1,562,11,9,neutral or dissatisfied
5,119299,Male,Loyal Customer,61,Business travel,1,214,0,0,satisfied

In [54]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for i in range(0,df.shape[1]):
    if df.dtypes[i]=='object':
        df[df.columns[i]] = le.fit_transform(df[df.columns[i]])
        
df.head()

,id,gender,customer_type,age,type_travel,class_no,flight_distance,departure_delay,arrival_delay,satisfaction
sid,,,,,,,,,,
1,70172,1,0,13,1,3,460,25,18,0
2,5047,1,1,25,0,1,235,1,6,0
3,110028,0,0,26,0,1,1142,0,0,1
4,24026,0,0,25,0,1,562,11,9,0
5,119299,1,0,61,0,1,214,0,0,1

In [55]:
df = df.drop(['id'], axis=1)
df.head()

,gender,customer_type,age,type_travel,class_no,flight_distance,departure_delay,arrival_delay,satisfaction
sid,,,,,,,,,
1,1,0,13,1,3,460,25,18,0
2,1,1,25,0,1,235,1,6,0
3,0,0,26,0,1,1142,0,0,1
4,0,0,25,0,1,562,11,9,0
5,1,0,61,0,1,214,0,0,1

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103594 entries, 1 to 103904
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gender           103594 non-null  int32
 1   customer_type    103594 non-null  int32
 2   age              103594 non-null  int64
 3   type_travel      103594 non-null  int32
 4   class_no         103594 non-null  int64
 5   flight_distance  103594 non-null  int64
 6   departure_delay  103594 non-null  int64
 7   arrival_delay    103594 non-null  int64
 8   satisfaction     103594 non-null  int32
dtypes: int32(4), int64(5)
memory usage: 6.3 MB

## Separate the Features (X) from the Target (y)

In [57]:
y = df["customer_type"]
X = df.drop(columns="customer_type")

In [58]:
df.isnull().sum(axis = 0)

gender             0
customer_type      0
age                0
type_travel        0
class_no           0
flight_distance    0
departure_delay    0
arrival_delay      0
satisfaction       0
dtype: int64

## Split our data into training and testing

In [59]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(77695, 8)

In [60]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [61]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [62]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Create a Logistic Regression Model

In [63]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

## Fit (train) or model using the training data

In [64]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

## Make predictions

In [65]:
y_pred = classifier.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            0       1
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       0
17           1       1
18           0       0
19           0       0

In [66]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8860187652032897

In [67]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[20036  1130]
 [ 1822  2911]]

In [68]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.95      0.93     21166
           1       0.72      0.62      0.66      4733

    accuracy                           0.89     25899
   macro avg       0.82      0.78      0.80     25899
weighted avg       0.88      0.89      0.88     25899

In [70]:
df.to_sql('flights_data_encoded_2', con=engine, if_exists='replace')