In [1]:
# Initial imports
%matplotlib inline
from matplotlib import pyplot as plt
from sklearn.datasets import make_classification
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine

## Retrieve dataset from RDS AWS

In [3]:
# Store environmental variables
from getpass import getpass

user = getpass('Enter user')
password = getpass('Enter password')
database = getpass('Enter database')
port = getpass('Enter port')

Enter user········
Enter password········
Enter database········
Enter port········

In [4]:
# Create the engine connection to PostgreSQL in AWS
engine = create_engine('postgresql://'+user+':'+password+'@database-1.cetgij0pjfvj.us-east-1.rds.amazonaws.com:'+port+'/'+
                      database)

In [5]:
# Declare the SQL query
query_flights_surveys = """SELECT f.sid,f.id,f.gender,f.customer_type,f.age,f.type_travel,c.class_no,f.flight_distance,
f.departure_delay,f.arrival_delay,f.satisfaction,s.inflight_wifi, s.dep_arriv_time,s.ease_online_booking,
s.gate_location,s.food_drink,s.onlineboard_seat_comfort,s.seat_comfort,s.inflight_entertaint,s.onboard_serv, 
s.leg_room_serv,s.baggage_handling,s.checkin_serv,s.inflight_serv,s.cleanliness 
FROM flights f 
INNER JOIN surveys s ON f.sid = s.sid 
INNER JOIN classes c ON f.class_no = c.class_no 
ORDER BY f.sid"""

query_flights = "SELECT * FROM flights ORDER BY sid"

In [6]:
# Retrieve flights rows from PostgreSQL
df = pd.read_sql(query_flights_surveys, con=engine, index_col='sid')
df.head()

,id,gender,customer_type,age,type_travel,class_no,flight_distance,departure_delay,arrival_delay,satisfaction,...,food_drink,onlineboard_seat_comfort,seat_comfort,inflight_entertaint,onboard_serv,leg_room_serv,baggage_handling,checkin_serv,inflight_serv,cleanliness
sid,,,,,,,,,,,,,,,,,,,,,
1,70172,Male,Loyal Customer,13,Personal Travel,3,460,25,18,neutral or dissatisfied,...,5,3,5,5,4,3,4,4,5,5
2,5047,Male,disloyal Customer,25,Business travel,1,235,1,6,neutral or dissatisfied,...,1,3,1,1,1,5,3,1,4,1
3,110028,Female,Loyal Customer,26,Business travel,1,1142,0,0,satisfied,...,5,5,5,5,4,3,4,4,4,5
4,24026,Female,Loyal Customer,25,Business travel,1,562,11,9,neutral or dissatisfied,...,2,2,2,2,2,5,3,1,4,2
5,119299,Male,Loyal Customer,61,Business travel,1,214,0,0,satisfied,...,4,5,5,3,3,4,4,3,3,3

In [7]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for i in range(0,df.shape[1]):
    if df.dtypes[i]=='object':
        df[df.columns[i]] = le.fit_transform(df[df.columns[i]])
        
df.head()

,id,gender,customer_type,age,type_travel,class_no,flight_distance,departure_delay,arrival_delay,satisfaction,...,food_drink,onlineboard_seat_comfort,seat_comfort,inflight_entertaint,onboard_serv,leg_room_serv,baggage_handling,checkin_serv,inflight_serv,cleanliness
sid,,,,,,,,,,,,,,,,,,,,,
1,70172,1,0,13,1,3,460,25,18,0,...,5,3,5,5,4,3,4,4,5,5
2,5047,1,1,25,0,1,235,1,6,0,...,1,3,1,1,1,5,3,1,4,1
3,110028,0,0,26,0,1,1142,0,0,1,...,5,5,5,5,4,3,4,4,4,5
4,24026,0,0,25,0,1,562,11,9,0,...,2,2,2,2,2,5,3,1,4,2
5,119299,1,0,61,0,1,214,0,0,1,...,4,5,5,3,3,4,4,3,3,3

In [8]:
df = df.drop(['id'], axis=1)
df.head()

,gender,customer_type,age,type_travel,class_no,flight_distance,departure_delay,arrival_delay,satisfaction,inflight_wifi,...,food_drink,onlineboard_seat_comfort,seat_comfort,inflight_entertaint,onboard_serv,leg_room_serv,baggage_handling,checkin_serv,inflight_serv,cleanliness
sid,,,,,,,,,,,,,,,,,,,,,
1,1,0,13,1,3,460,25,18,0,3,...,5,3,5,5,4,3,4,4,5,5
2,1,1,25,0,1,235,1,6,0,3,...,1,3,1,1,1,5,3,1,4,1
3,0,0,26,0,1,1142,0,0,1,2,...,5,5,5,5,4,3,4,4,4,5
4,0,0,25,0,1,562,11,9,0,2,...,2,2,2,2,2,5,3,1,4,2
5,1,0,61,0,1,214,0,0,1,3,...,4,5,5,3,3,4,4,3,3,3

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103594 entries, 1 to 103904
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   gender                    103594 non-null  int32
 1   customer_type             103594 non-null  int32
 2   age                       103594 non-null  int64
 3   type_travel               103594 non-null  int32
 4   class_no                  103594 non-null  int64
 5   flight_distance           103594 non-null  int64
 6   departure_delay           103594 non-null  int64
 7   arrival_delay             103594 non-null  int64
 8   satisfaction              103594 non-null  int32
 9   inflight_wifi             103594 non-null  int64
 10  dep_arriv_time            103594 non-null  int64
 11  ease_online_booking       103594 non-null  int64
 12  gate_location             103594 non-null  int64
 13  food_drink                103594 non-null  int64
 14  onlineboard_seat_comfort  103594 non-null  int64
 15  seat_comfort              103594 non-null  int64
 16  inflight_entertaint       103594 non-null  int64
 17  onboard_serv              103594 non-null  int64
 18  leg_room_serv             103594 non-null  int64
 19  baggage_handling          103594 non-null  int64
 20  checkin_serv              103594 non-null  int64
 21  inflight_serv             103594 non-null  int64
 22  cleanliness               103594 non-null  int64
dtypes: int32(4), int64(19)
memory usage: 17.4 MB

## Separate the Features (X) from the Target (y)

In [12]:
y = df["customer_type"]
X = df.drop(columns="customer_type")

In [14]:
df.isnull().sum(axis = 0)

gender                      0
customer_type               0
age                         0
type_travel                 0
class_no                    0
flight_distance             0
departure_delay             0
arrival_delay               0
satisfaction                0
inflight_wifi               0
dep_arriv_time              0
ease_online_booking         0
gate_location               0
food_drink                  0
onlineboard_seat_comfort    0
seat_comfort                0
inflight_entertaint         0
onboard_serv                0
leg_room_serv               0
baggage_handling            0
checkin_serv                0
inflight_serv               0
cleanliness                 0
dtype: int64

## Split our data into training and testing

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(77695, 22)

In [16]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [17]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [18]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Create a Logistic Regression Model

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

## Fit (train) or model using the training data

In [20]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

## Make predictions

In [21]:
y_pred = classifier.predict(X_test_scaled)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

    Prediction  Actual
0            0       0
1            0       0
2            0       0
3            0       0
4            0       1
5            0       0
6            0       0
7            0       0
8            0       0
9            0       0
10           0       0
11           0       0
12           0       0
13           0       0
14           0       0
15           0       0
16           0       0
17           1       1
18           0       0
19           0       0

In [22]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.9025058882582339

In [23]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[20106  1060]
 [ 1465  3268]]

In [24]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.93      0.95      0.94     21166
           1       0.76      0.69      0.72      4733

    accuracy                           0.90     25899
   macro avg       0.84      0.82      0.83     25899
weighted avg       0.90      0.90      0.90     25899