In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
from sqlalchemy import create_engine

## Retrieve dataset from RDS AWS

In [2]:
# Store environmental variables
from getpass import getpass

user = getpass('Enter user')
password = getpass('Enter password')
database = getpass('Enter database')
port = getpass('Enter port')

Enter user········
Enter password········
Enter database········
Enter port········

In [3]:
# Create the engine connection to PostgreSQL in AWS
engine = create_engine('postgresql://'+user+':'+password+'@database-1.cetgij0pjfvj.us-east-1.rds.amazonaws.com:'+port+'/'+
                      database)

In [4]:
# Declare the SQL query
query_flights_encoded = "SELECT * FROM flights_data_encoded ORDER BY sid"

In [5]:
# Retrieve flights encoded rows from PostgreSQL
df = pd.read_sql(query_flights_encoded, con=engine, index_col='sid')
df.head()

,customer_type,age,class_no,flight_distance,departure_delay,arrival_delay,gender_Female,gender_Male,type_travel_Business travel,type_travel_Personal Travel,satisfaction_neutral or dissatisfied,satisfaction_satisfied
sid,,,,,,,,,,,,
1,0,13,3,460,25,18,0,1,0,1,1,0
2,1,25,1,235,1,6,0,1,1,0,1,0
3,0,26,1,1142,0,0,1,0,1,0,0,1
4,0,25,1,562,11,9,1,0,1,0,1,0
5,0,61,1,214,0,0,0,1,1,0,0,1

## Separate the Features (X) from the Target (y)

In [6]:
y = df["customer_type"]
X = df.drop(columns="customer_type")

## Split our data into training and testing

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(77695, 11)

In [8]:
# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the basic neural network model
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=11))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
2428/2428 [==============================] - 3s 976us/step - loss: 0.2756 - accuracy: 0.8765
Epoch 2/50
2428/2428 [==============================] - 2s 1ms/step - loss: 0.2367 - accuracy: 0.8978
Epoch 3/50
2428/2428 [==============================] - 2s 902us/step - loss: 0.2344 - accuracy: 0.89890s - loss: 0.2351
Epoch 4/50
2428/2428 [==============================] - 2s 761us/step - loss: 0.2333 - accuracy: 0.8993
Epoch 5/50
2428/2428 [==============================] - 2s 698us/step - loss: 0.2321 - accuracy: 0.8993
Epoch 6/50
2428/2428 [==============================] - 2s 890us/step - loss: 0.2314 - accuracy: 0.9004
Epoch 7/50
2428/2428 [==============================] - 2s 890us/step - loss: 0.2307 - accuracy: 0.9015
Epoch 8/50
2428/2428 [==============================] - 2s 978us/step - loss: 0.2300 - accuracy: 0.9019
Epoch 9/50
2428/2428 [==============================] - 2s 956us/step - loss: 0.2291 - accuracy: 0.9021
Epoch 10/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2285 - accuracy: 0.9022
Epoch 11/50
2428/2428 [==============================] - 2s 902us/step - loss: 0.2279 - accuracy: 0.9027
Epoch 12/50
2428/2428 [==============================] - 2s 821us/step - loss: 0.2275 - accuracy: 0.9035
Epoch 13/50
2428/2428 [==============================] - 2s 799us/step - loss: 0.2269 - accuracy: 0.9036
Epoch 14/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2262 - accuracy: 0.9038
Epoch 15/50
2428/2428 [==============================] - 2s 1ms/step - loss: 0.2257 - accuracy: 0.9044
Epoch 16/50
2428/2428 [==============================] - 2s 918us/step - loss: 0.2249 - accuracy: 0.9052
Epoch 17/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2247 - accuracy: 0.9049
Epoch 18/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2243 - accuracy: 0.9049
Epoch 19/50
2428/2428 [==============================] - 2s 1ms/step - loss: 0.2236 - accuracy: 0.9051
Epoch 20/50
2428/2428 [==============================] - 2s 966us/step - loss: 0.2236 - accuracy: 0.90550s - loss: 0.2247 - accuracy - ETA: 0s - los
Epoch 21/50
2428/2428 [==============================] - 2s 969us/step - loss: 0.2233 - accuracy: 0.9053
Epoch 22/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2231 - accuracy: 0.9064
Epoch 23/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2230 - accuracy: 0.9065
Epoch 24/50
2428/2428 [==============================] - 2s 949us/step - loss: 0.2227 - accuracy: 0.90600s - loss: 0.2231 - accuracy: 0. - ETA: 0s - loss: 0.2234 - ac
Epoch 25/50
2428/2428 [==============================] - 2s 999us/step - loss: 0.2225 - accuracy: 0.9062
Epoch 26/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2226 - accuracy: 0.9060
Epoch 27/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2224 - accuracy: 0.9064
Epoch 28/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2223 - accuracy: 0.9066
Epoch 29/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2222 - accuracy: 0.9065
Epoch 30/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2221 - accuracy: 0.9058
Epoch 31/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2221 - accuracy: 0.9064
Epoch 32/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2221 - accuracy: 0.9061
Epoch 33/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2217 - accuracy: 0.9064
Epoch 34/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2220 - accuracy: 0.9065
Epoch 35/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2218 - accuracy: 0.9070
Epoch 36/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2216 - accuracy: 0.9066
Epoch 37/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2216 - accuracy: 0.9065
Epoch 38/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2217 - accuracy: 0.9065
Epoch 39/50
2428/2428 [==============================] - 2s 969us/step - loss: 0.2215 - accuracy: 0.9066
Epoch 40/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2216 - accuracy: 0.9067
Epoch 41/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2214 - accuracy: 0.9068: 0s - loss: 0.221
Epoch 42/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2215 - accuracy: 0.9071
Epoch 43/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2212 - accuracy: 0.9066
Epoch 44/50
2428/2428 [==============================] - 2s 990us/step - loss: 0.2212 - accuracy: 0.9068
Epoch 45/50
2428/2428 [==============================] - 2s 980us/step - loss: 0.2212 - accuracy: 0.90700s - loss: 0.2211 - accuracy: 0.90
Epoch 46/50
2428/2428 [==============================] - 2s 959us/step - loss: 0.2212 - accuracy: 0.9070
Epoch 47/50
2428/2428 [==============================] - 2s 942us/step - loss: 0.2215 - accuracy: 0.9065
Epoch 48/50
2428/2428 [==============================] - 2s 981us/step - loss: 0.2211 - accuracy: 0.9066
Epoch 49/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2210 - accuracy: 0.9072
Epoch 50/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2211 - accuracy: 0.9072
810/810 - 1s - loss: 0.2223 - accuracy: 0.9058 - 768ms/epoch - 948us/step
Loss: 0.22225069999694824, Accuracy: 0.9057878851890564