In [16]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
from sqlalchemy import create_engine

## Retrieve dataset from RDS AWS

In [17]:
# Store environmental variables
from getpass import getpass

user = getpass('Enter user')
password = getpass('Enter password')
database = getpass('Enter database')
port = getpass('Enter port')

Enter user········
Enter password········
Enter database········
Enter port········

In [18]:
# Create the engine connection to PostgreSQL in AWS
engine = create_engine('postgresql://'+user+':'+password+'@database-1.cetgij0pjfvj.us-east-1.rds.amazonaws.com:'+port+'/'+
                      database)

In [19]:
# Declare the SQL query
query_flights_encoded = "SELECT * FROM flight_encoded ORDER BY sid"

In [27]:
# Retrieve flights encoded rows from PostgreSQL
df = pd.read_sql(query_flights_encoded, con=engine)
df.head()

,sid,customer_type,age,class_no,flight_distance,departure_delay,arrival_delay,gender_Female,gender_Male,type_travel_Business travel,type_travel_Personal Travel,satisfaction_neutral or dissatisfied,satisfaction_satisfied
0,1,0,13,3,460,25,18,0,1,0,1,1,0
1,2,1,25,1,235,1,6,0,1,1,0,1,0
2,3,0,26,1,1142,0,0,1,0,1,0,0,1
3,4,0,25,1,562,11,9,1,0,1,0,1,0
4,5,0,61,1,214,0,0,0,1,1,0,0,1

In [28]:
df = df.drop(['sid'], axis=1)

## Separate the Features (X) from the Target (y)

In [29]:
y = df["customer_type"]
X = df.drop(columns="customer_type")

## Split our data into training and testing

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(77695, 11)

In [31]:
# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [32]:
# Define the basic neural network model
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=11))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
2428/2428 [==============================] - 4s 1ms/step - loss: 0.3003 - accuracy: 0.8627
Epoch 2/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2380 - accuracy: 0.8972
Epoch 3/50
2428/2428 [==============================] - 2s 930us/step - loss: 0.2333 - accuracy: 0.8992
Epoch 4/50
2428/2428 [==============================] - 2s 846us/step - loss: 0.2310 - accuracy: 0.9007
Epoch 5/50
2428/2428 [==============================] - 2s 796us/step - loss: 0.2292 - accuracy: 0.9014
Epoch 6/50
2428/2428 [==============================] - 2s 795us/step - loss: 0.2283 - accuracy: 0.9020
Epoch 7/50
2428/2428 [==============================] - 2s 932us/step - loss: 0.2273 - accuracy: 0.9025
Epoch 8/50
2428/2428 [==============================] - 2s 1ms/step - loss: 0.2267 - accuracy: 0.9029
Epoch 9/50
2428/2428 [==============================] - 2s 998us/step - loss: 0.2261 - accuracy: 0.9027
Epoch 10/50
2428/2428 [==============================] - 2s 985us/step - loss: 0.2257 - accuracy: 0.90340s
Epoch 11/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2253 - accuracy: 0.9032
Epoch 12/50
2428/2428 [==============================] - 2s 928us/step - loss: 0.2248 - accuracy: 0.9034
Epoch 13/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2246 - accuracy: 0.9038
Epoch 14/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2240 - accuracy: 0.9043
Epoch 15/50
2428/2428 [==============================] - 2s 796us/step - loss: 0.2235 - accuracy: 0.9046
Epoch 16/50
2428/2428 [==============================] - 2s 854us/step - loss: 0.2231 - accuracy: 0.9049
Epoch 17/50
2428/2428 [==============================] - 2s 941us/step - loss: 0.2229 - accuracy: 0.9049
Epoch 18/50
2428/2428 [==============================] - 2s 888us/step - loss: 0.2226 - accuracy: 0.9054
Epoch 19/50
2428/2428 [==============================] - 2s 807us/step - loss: 0.2223 - accuracy: 0.9056
Epoch 20/50
2428/2428 [==============================] - 2s 784us/step - loss: 0.2221 - accuracy: 0.9058
Epoch 21/50
2428/2428 [==============================] - 2s 947us/step - loss: 0.2218 - accuracy: 0.9057
Epoch 22/50
2428/2428 [==============================] - 2s 980us/step - loss: 0.2218 - accuracy: 0.9057
Epoch 23/50
2428/2428 [==============================] - 2s 965us/step - loss: 0.2217 - accuracy: 0.9062
Epoch 24/50
2428/2428 [==============================] - 2s 835us/step - loss: 0.2213 - accuracy: 0.9065
Epoch 25/50
2428/2428 [==============================] - 2s 940us/step - loss: 0.2212 - accuracy: 0.9065
Epoch 26/50
2428/2428 [==============================] - 2s 891us/step - loss: 0.2211 - accuracy: 0.9063
Epoch 27/50
2428/2428 [==============================] - 2s 862us/step - loss: 0.2212 - accuracy: 0.9062
Epoch 28/50
2428/2428 [==============================] - 2s 897us/step - loss: 0.2211 - accuracy: 0.9063
Epoch 29/50
2428/2428 [==============================] - 2s 890us/step - loss: 0.2209 - accuracy: 0.9065
Epoch 30/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2207 - accuracy: 0.9063
Epoch 31/50
2428/2428 [==============================] - 2s 913us/step - loss: 0.2208 - accuracy: 0.9066
Epoch 32/50
2428/2428 [==============================] - 2s 918us/step - loss: 0.2208 - accuracy: 0.9070
Epoch 33/50
2428/2428 [==============================] - 2s 963us/step - loss: 0.2206 - accuracy: 0.9066
Epoch 34/50
2428/2428 [==============================] - 2s 964us/step - loss: 0.2205 - accuracy: 0.9070
Epoch 35/50
2428/2428 [==============================] - 2s 832us/step - loss: 0.2206 - accuracy: 0.9060
Epoch 36/50
2428/2428 [==============================] - 2s 1ms/step - loss: 0.2204 - accuracy: 0.9068: 0s - loss: 0.2200 - accuracy:
Epoch 37/50
2428/2428 [==============================] - 2s 971us/step - loss: 0.2202 - accuracy: 0.9070
Epoch 38/50
2428/2428 [==============================] - 2s 896us/step - loss: 0.2203 - accuracy: 0.9070
Epoch 39/50
2428/2428 [==============================] - 2s 868us/step - loss: 0.2202 - accuracy: 0.9072
Epoch 40/50
2428/2428 [==============================] - 2s 893us/step - loss: 0.2202 - accuracy: 0.9070
Epoch 41/50
2428/2428 [==============================] - 2s 909us/step - loss: 0.2202 - accuracy: 0.9070
Epoch 42/50
2428/2428 [==============================] - 2s 1ms/step - loss: 0.2201 - accuracy: 0.9068
Epoch 43/50
2428/2428 [==============================] - 2s 986us/step - loss: 0.2200 - accuracy: 0.9068
Epoch 44/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2202 - accuracy: 0.9068
Epoch 45/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2200 - accuracy: 0.9065
Epoch 46/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2200 - accuracy: 0.9066
Epoch 47/50
2428/2428 [==============================] - 2s 947us/step - loss: 0.2198 - accuracy: 0.9070
Epoch 48/50
2428/2428 [==============================] - 2s 860us/step - loss: 0.2200 - accuracy: 0.9072
Epoch 49/50
2428/2428 [==============================] - 2s 888us/step - loss: 0.2199 - accuracy: 0.9067
Epoch 50/50
2428/2428 [==============================] - 3s 1ms/step - loss: 0.2199 - accuracy: 0.9069
810/810 - 1s - loss: 0.2214 - accuracy: 0.9057 - 631ms/epoch - 780us/step
Loss: 0.22144430875778198, Accuracy: 0.9057492613792419